<h1>Create account</h1>

<%= form_for @new_user do |f| %>

  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

  <p><%= f.label :user_name%></p>
  <%= f.text_field :user_name%>

  <p><%= f.label :email_address%></p>
  <%= f.text_field :email_address%>

  <p><%= f.label :password%></p>
  <%= f.password_field :password%>

  <p><%= f.submit 'Create account' %></p>
<% end %>