<% if @current_user == @user %>
    <h2>EasyComps Dashboard</h2>
    <h3>Welcome, <%= @user.user_name %>!</h3>


    <%= link_to "New Property Search", new_property_path %>
    <br>
    <%= link_to "My Favorites", favorites_path %>
    <br>
    <%= link_to "My Reports", reports_path %>
    <br>
    <br>
    <%= link_to "Logout of your Account", logout_path, method: :delete, class: "link_delete" %>
  <% else %>
    You are not aurhorized to see this page
    <br>
    <%= link_to "Back to dashboard", @current_user %>
  <% end %>


