<% if @current_user %>
  <h1>Dashboard</h1>
  <h2>Welcome <%= @current_user.user_name %></h2>


 <p><%= link_to "New Property Search", new_property_path %></p>
  <p><%= link_to "My Favorites", favorites_path %></p>
  <p><%= link_to "My Reports", reports_path %></p>
  <p><%= link_to "Delete account", @current_user, method: :delete %></p>
  <p><%= link_to "Logout", logout_path, method: :delete %></p>
<% else %>
  <p>You are not aurhorized to see this page</p>
  <p><%= link_to "Back to dashboard", @current_user %></p>
<% end %>


