<% if @current_user %>
 <%= render "shared/heading", title: "Dashboard" %>
 <hr>
  <h3>(Logged in as <%= @current_user.user_name %>)</h3>

  <%= link_to "New Property Search", new_property_path %>
  <br>
  <br>
  <%= link_to "My Favorites", favorites_path %>
  <br>
  <%= link_to "My Reports", reports_path %>
  <br>
  <br>
  <%= link_to "Edit Profile", edit_user_path(@current_user) %>
  <br>
  <br>
  <div>
  <%= link_to "Logout of your Account", logout_path, method: :delete, class: "button_back" %>
  </div>
<% else %>
  You are not aurhorized to see this page
  <% system "sleep 3" %>
  <br>
  <%= link_to "Back to dashboard", @current_user %>
<% end %>


