<h1><%= @property.get_deep_search_results.body.response.results.result.address.street %></h1>
	<%= @property.get_deep_search_results %>
	<br>
	City: <%= @property.get_deep_search_results.body.response.results.result.address.city %>
	<br>
	State: <%= @property.get_deep_search_results.body.response.results.result.address.state %>
	<br>
	Zip Code: <%= @property.get_deep_search_results.body.response.results.result.address.zipcode %>
	<br>
	Bedrooms: <%= @property.get_deep_search_results.body.response.results.result.bedrooms %>
		<br>
	Bathrooms: <%= @property.get_deep_search_results.body.response.results.result.bathrooms %>
	<br>
	Finished Square Feet: <%= @property.get_deep_search_results.body.response.results.result.finished_sq_ft %>
	<br>
	Lot Square Feet: <%= @property.get_deep_search_results.body.response.results.result.lot_size_sq_ft %>
	<br>
	Zillow ID: <%= @property.zp_id %>
	<br>
	User Name: <%= @property.user.user_name %>
	<br>
	Deep Search: <%= @property.get_deep_search_results.body %>
	<br>