<h1>Report for <%= @report.property.street_address%>, <%= @report.property.city %>, <%= @report.property.state %></h1>
<img src=<%= @report.property.main_image %> alt="main image">
<div>
<h4>Home Size</h4>
<p>This home is <%= number_to_percentage(@report.size_comparison.abs * 100, precision: 2) %> <%= @report.smaller_or_larger %> than comparable homes</p>
<p>Average home size: <%= @report.avg_size %> sqare feet</p>
<p>This home: <%= @report.property.square_footage %> square feet</p>
</div>
<div>
<h4>Home Price</h4>
<p>This home is <%= number_to_percentage(@report.price_comparison.abs * 100, precision: 2) %> <%= @report.cheaper_or_more_expensive %> than comparable homes</p>
<p>Average home price: <%= number_to_currency(@report.avg_price, precision: 2) %></p>
<p>This home: <%= number_to_currency(@report.property.price, precision: 2) %></p>
</div>
<div>
<h4>Number of Bedrooms</h4>
<p>This home has <%= @report.more_or_less_beds %> bedrooms than comparable homes</p>
<p>Average home: <%= @report.avg_bed.round(1) %> bedrooms</p>
<p>This home: <%= @report.property.bedrooms %> bedrooms</p>
</div>
<div>
<h4>Number of Bathrooms</h4>
<p>This home has <%= @report.more_or_less_baths %> bathrooms than comparable homes</p>
<p>Average home: <%= @report.avg_bath.round(1) %> bathrooms</p>
<p>This home: <%= @report.property.bathrooms %> bathrooms</p>
</div>