<%= render "shared/heading", title: "EasyComps Report" %>

<h1>Report for <%= @report.property.street_address.titleize%>, <%= @report.property.city.titleize %>, <%= @report.property.state %></h1>
<img src=<%= @report.property.main_image %> alt="main image">
<div>
<h4>Home Size</h4>
<p>This home is <%= number_to_percentage(@report.size_comparison.to_f.abs * 100, precision: 2) %> <%= @report.smaller_or_larger %> than comparable homes</p>
<p>Average home size: <%= @report.avg_size.round(1) %> sqare feet</p>
<p>This home: <%= @report.property.square_footage %> square feet</p>
</div>
<div>
<h4>Home Price</h4>
<p>This home is <%= number_to_percentage(@report.price_comparison.abs * 100, precision: 2) %> <%= @report.cheaper_or_more_expensive %> than comparable homes</p>
<p>Average home price: <%= number_to_currency(@report.avg_price, precision: 2) %></p>
<p>This home: <%= number_to_currency(@report.property.price, precision: 2) %></p>
</div>
<div>
<h4>Number of Bedrooms</h4>
<p>This home has <%= @report.more_or_less_beds %> bedrooms than comparable homes</p>
<p>Average home: <%= @report.avg_bed.round(1) %> bedrooms</p>
<p>This home: <%= @report.property.bedrooms %> bedrooms</p>
</div>
<div>
<h4>Number of Bathrooms</h4>
<p>This home has <%= @report.more_or_less_baths %> bathrooms than comparable homes</p>
<p>Average home: <%= @report.avg_bath.round(1) %> bathrooms</p>
<p>This home: <%= @report.property.bathrooms %> bathrooms</p>
</div>

<% if @report.user.favorites.where(property_id: @report.property.id ).empty? %>

<%= form_for @favorite do |f| %>
<%= f.hidden_field :property_id, :value => @report.property.id %>
<%= f.hidden_field :user_id, :value => @report.user.id %>
<%= f.submit 'Add To Favorites' %>
<% end %>

<% else %>
<%= 'â­ Favorited' %>
<%end %>

<%= link_to 'Back to Dashboard', @current_user, class: "link_delete"%>
